<style>
    .main
        {
            align-content: center;
            text-align: center;
            margin: 10px;
        }
    #butto:focus
        {
                width: 25%;
                background-color: skyblue;
        }
    #butto
       {
            background-color:royalblue;
            padding : 10px 30px;
            align-content: center;
            font-size: 15px;
            border-radius: 5px;
            width: 20%;
            color: white;
        }
</style>
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome To Our Website....</h2>
<div class = "main">
<a href="/pythonlogin/mail/"><input id="butto" type="button" value="Text detection"></a>
<a href="/pythonlogin/url/"><input id="butto" type="button" value="url detection"></a>
</div>
{% endblock %}