<style>
.main
    {
        align-content: center;
        text-align: center;
        margin: 10px;
    }
#butto:focus
    {
            width: 25%;
            background-color: skyblue;
    }
#butto
   {
        background-color:royalblue;
        padding : 10px 30px;
        align-content: center;
        font-size: 15px;
        border-radius: 5px;
        width: 20%;
        color: white;
    }
</style>
{% extends 'layout.html' %}

{% block title %}Url Detection{% endblock %}

{% block content %}
<h2>Url Detection</h2>
<div class = "main">
    <h1 style="color:rgb(7, 247, 255);font-size: 35px">Url Detection : The process of find the phishing or the legitimate websites...</h1>
    <form action="/pythonlogin/url/predict" method='post'>
    <input style="background-color:rgb(253, 255, 255);border-radius: 5px;width: 50%;height: 30px; color:black; text-align: left; margin: 30px" type="url" name="url" placeholder="Enter the URL to be verified" required><br>
    <input  id="butto" type="submit" value="Predict" name="Predict">
    <div>
        {% if pred == 1 %}
            <p style="color:rgb(0, 255, 0);text-decoration: none;font-size:30px;margin-top: 30px;">{{ prediction_text }}</p>
            <p style="color:blue;font-size: 20px;"><a href="{{ url }}">{{ url }}</a></p>
        {% else %}
            <p style="color:red;text-decoration: none;font-size:30px;margin-top: 30px;">{{ prediction_text }}</p>
            <p style="color:blue"><a href="{{ url }}">{{ url }}</a></p>
        {% endif %}
    </div>
    </form>
</div>

{% endblock %}